:root {
 --main-text-color:#757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--white-text-clolor: #ffffff;
--black-text-color:  #000000;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
font-family: Roboto, sans-serif;
font-size: 14px;
line-height: 1.714; /* 24/14 */
letter-spacing: 0.03em;
color: var(--main-text-color);
}

.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
color: var(--accent-color);
}

.address-item {
font-weight: 500;
font-size: 14px;
line-height: 1.143; /* 16/14 */
letter-spacing: 0.02em;
}

.address-link, .address-item {
text-decoration: none;
color: #757575;   
}

h1 {
font-weight: 900;
font-size: 44px;
line-height: 1.365;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:#ffffff;
background-color: lightslategray;   
}

.logo {
  font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 31px;
color: #000000;
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 31px;
text-decoration: none;
}

.logo-blue {
  color: #2196F3;
}

.logo-white {
 color: #FFFFFF; 
}

.list {
list-style: none;
}

.address-item:hover, 
.address-item:focus {
color: #2196F3;
}

.address-link:hover,
.address-link:focus {
  color: #2196F3;  
}

.btn {
font-weight: bold;
font-size: 16px;
line-height: 1.875; /*30/16*/
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px; 
border-color: transparent;
}

.section-title {
font-weight: bold;
font-size: 18px;
line-height: 2; /*36/18*/
letter-spacing: 0.06em;
text-align: center;
color: var(-title-text-color); 
}

.pluses-title {
font-weight: bold;
font-size: 14px;
line-height: 1.143; /* 16/14 */
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.products-title {
font-weight: bold;
font-size: 14px;
line-height: 1.143; /* 16/14 */
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
background-color: rgba(47, 48, 58, 0.8);
}

.products-title:hover,
.products-title:focus {
 color: #2196F3; 
}

.team-member-name {
font-weight: 500;
font-size: 16px;
line-height: 1.312; /* 19/16 */
text-align: center;
color: #212121;
}

.job-title {
font-size: 16px;
line-height: 1.312; /* 19/16 */
text-align: center;
color: #757575; 
}

.footer {
  background-color: #2F303A;
}

.address {
font-size: 14px;
line-height: 1.714; /* 24/14 */
font-style: normal;
color: #FFFFFF;  
}

.contacts-link {
font-size: 14px;
line-height: 1.714; /* 24/14 */
color: rgba(255, 255, 255, 0.6);
font-style: normal;
text-decoration: none;
}

.actions {
font-weight: bold;
font-size: 14px;
line-height: 1.143; /* 16/14 */
text-transform: uppercase;
color: #FFFFFF; 
}